@using TTMS.Controllers;
@using static TTMS.Models.SubjectModel;
@using static TTMS.Controllers.SubjectController;
@*@model IEnumerable<SubjectRecord>*@
@model SubjectRecord


@{
    //ViewData["Title"] = "Add";
}
 @using (Html.BeginForm("add", "Subject",FormMethod.Post))
{
          
     <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Add Subjects</h1>
        </div>
           <div class="col-md-7 col-lg-8">



                <div class="col-md-5">
                    <label for="Subject" class="form-label">Subject</label>
                    @Html.DropDownListFor(model => model.Name, new SelectList(ViewBag.selectedSubjects, "SubjectID", "Name"), "",htmlAttributes:(new{@class = "form-control", @multiple = "multiple"}))


                    @*
                        <option value="">  </option>
                        <option value="1">English</option>
                        <option value="2">Urdu</option>
                        <option value="3">Mathematics</option>
                        <option value="4">Science</option>
                        <option value="5">Social Studies</option>
                        <option value="6">Islamiat</option>
                        <option value="7">Nazra</option>
                        <option value="8">Tarjuma tul Quran</option>
                        <option value="9">Computer</option>
                        <option value="10">Art</option>
                        <option value="11">Physics</option>
                        <option value="12">Biology</option>
                        <option value="14">Chemistry</option>
                        <option value="15">Pak Studies</option>

                        </select>*@
                    <div class="invalid-feedback">
                        Please select a valid Subject Name.
                    </div>
                </div>
               

          </div>
            <div class="container-fluid">
                <input type="submit" value="add" class="btn btn-lg btn-outline-success col-md-12">
            </div>
     </main>
}