@using TTMS.Models;
@model TTMS.ViewModels.SubjectViewModel;



@{
    //ViewData["Title"] = "Add";
}
 @using (Html.BeginForm("add", "Subject",FormMethod.Post))
{
          
     <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Add Subjects</h1>
        </div>
           <div class="col-md-7 col-lg-8">



                <div class="col-md-5">
                    <label for="Subject" class="form-label">Subjects</label>
                    <select class="form-select" id="Subject" name="Subject" value=""  multiple style="height:200px">

                    @if (Model.Subjects != null && Model.Subjects.Any())
                    {
                        @foreach (var item in Model.Subjects)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                        @*<option value="">  </option>
                            <option value="1">English</option>
                            <option value="2">Urdu</option>
                            <option value="3">Mathematics</option>
                            <option value="4">Science</option>
                            <option value="5">Social Studies</option>
                            <option value="6">Islamiat</option>
                            <option value="7">Nazra</option>
                            <option value="8">Tarjuma tul Quran</option>
                            <option value="9">Computer</option>
                            <option value="10">Art</option>
                            <option value="11">Physics</option>
                            <option value="12">Biology</option>
                            <option value="14">Chemistry</option>
                            <option value="15">Pak Studies</option>*@

                    </select>
                </div>  

                <div class="col-md-5">
                    <label for="addSubject" class="form-label">add new Subject</label>
                <input type="text" class="form-control" id="addSubject" name="Name" placeholder="" value="" required>
                    <div class="invalid-feedback">
                         Valid Subject is required.
                    </div>
                </div>
               

          </div>
            <div class="container-fluid">
                <input type="submit" value="add" class="btn btn-lg btn-outline-success col-md-12">
            </div>
     </main>
}