@{
    ViewData["Title"] = "Add";
}
          
 <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Manage Classes</h1>
    </div>
      <div class="col-md-7 col-lg-8">
        
           
            <div class="col-md-5">
              <label for="Class" class="form-label">Class</label>
              <select class="form-select" id="Class" required>
                <option value=""> </option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option> 
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid Class.
              </div>
            </div>
            

      </div>
 </main>       