@using TTMS.Controllers;
@using static TTMS.Controllers.ClassController;
@model ClassRecord


@{
    //ViewData["Title"] = "Add";
}
 @using (Html.BeginForm("edit", "Class",FormMethod.Post))
{

          
     <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Edit Classes</h1>
        </div>
          <div class="col-md-7 col-lg-8">
        
           
                <div class="col-md-5">
                  <label for="Class" class="form-label">Class</label>
                  <select class="form-select" id="Class" name="Name"  required>
                    <option value=""> </option>
                    <option>Class 1</option>
                    <option>Class 2</option>
                    <option>Class 3</option>
                    <option>Class 4</option>
                    <option>Class 5</option>
                    <option>Class 6</option>
                    <option>Class 7</option>
                    <option>Class 8</option>
                    <option>Class 9</option>
                    <option>Class 10</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid Class.
                  </div>
                </div>
          </div>
            <div class="container-fluid">
                <input type="submit" value="edit" class="btn btn-lg btn-outline-success col-md-12">
            </div>
     </main> 
}