@model TTMS.ViewModels.TimetableViewModel;



<main class="col-md-9 ms-sm-auto px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Timetable for @Model.Timetables.First().Class </h1>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="50px">Days </th>
                @{
                    foreach (var l in Model.Lessons)
                    {
                        <th width="50px">@l.Text</th>
                    }
                }


            </tr>
        </thead>
        <tbody>
            @{
                foreach (var d in Model.Days)
                {
                    <tr>
                        <td>@d.Text</td>
                        @foreach (var l in Model.Timetables.Where(x => x.Day == d.Text))
                        {
                            <td>@l.Subject </td>
                        }
                    </tr>

                }
            }


        </tbody>
    </table>

</main>

