@using TTMS.Controllers;
@using static TTMS.ViewModels.TeacherModel;
@using static TTMS.Controllers.TeacherController;
@using TTMS.Models
@*@model IEnumerable<TeacherRecord>*@
@model TeacherRecord


@{
    //ViewData["Title"] = "Add";
}
 @using (Html.BeginForm("add", "Teacher", FormMethod.Post))
{
              
     <main class="col-md-9 ms-sm-auto px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Add teacher</h1>
        </div>
          <div class="col-md-7x col-lg-8x">

                <div class="col-sm-12">
                    <label for="title" class="form-label">title</label>
                    <select class="form-select" id="title" name="Title" required style="height:40px">
                    <option>Mr.</option>
                    <option>Ms.</option>
                    </select>
                    <div class="invalid-feedback">
                        Valid title is required.
                    </div>
                </div>
        
                <div class="col-sm-12">
                  <label for="firstName" class="form-label">firstname</label>
                  <input type="text" class="form-control" id="firstname" name="Firstname" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid firstname is required.
                  </div>
                </div>

                <div class="col-sm-12">
                  <label for="surname" class="form-label">surname</label>
                <input type="text" class="form-control" id="surname" name="Surname" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid  surname is required.
                  </div>
                </div>

                <div class="col-sm-12">
                  <label for="email" class="form-label">email</label>
                <input type="email" class="form-control" id="email" name="Email" placeholder="" value="" required>
                  <div class="invalid-feedback">
                    Valid Email is required.
                  </div>
                </div>


          
            
            
                
                   @* @Html.DropDownListFor(model => model.Subject, new SelectList(ViewBag.list, "Subject"), "",htmlAttributes:(new{@class = "form-control", @multiple = "multiple"}))*@
                <div class="col-sm-12">
                    <label for="Subject" class="form-label">subject</label>
                    <select class="form-select" id="Subject" name="Subject" value="" required multiple style="height:200px">
                        <option value="">  </option>
                        <option value="1">English</option>
                        <option value="2">Urdu</option>
                        <option value="3">Mathematics</option>
                        <option value="4">Science</option>
                        <option value="5">Social Studies</option>
                        <option value="6">Islamiat</option>
                        <option value="7">Nazra</option>
                        <option value="8">Tarjuma tul Quran</option>
                        <option value="9">Computer</option>
                        <option value="10">Art</option>
                        <option value="11">Physics</option>
                        <option value="12">Biology</option>
                        <option value="13">Chemistry</option>
                        <option value="14">Pak Studies</option>
                    </select>
                        
                    <div class="invalid-feedback">
                        Please select a valid Subject Name.
                    </div>
                </div>
              
        

          </div>
            <div class="container-fluid">
                <input type="submit" value="add" class="btn btn-lg btn-outline-success col-md-12" >
            </div>
     </main> 
}
 