@using TTMS.Controllers;
@using static TTMS.Controllers.LessonController;
@model IEnumerable<LessonRecord>

@{
    //ViewData["Title"] = "Subjects";
}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Manage Lessons</h1>
        <a class="btn btn-md btn-outline-primary" href="~/Lesson/Add">add</a>
    </div>
        
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Lesson</th>
                    <th scope="col">Duration</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var lesson in Model)
                {
                    using (Html.BeginForm("Delete", "Lesson", new { Id = @lesson.LessonID }))
                    {
                        <tr>
                            <td>@lesson.LessonNo</td>
                            <td>@lesson.Duration</td>
                            <td>
                                <a href="/Lesson/Edit?id=@lesson.LessonID" class="btn btn-sm btn-outline-secondary">edit</a>

                                <a href="/Lesson/Delete?id=@lesson.LessonID" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are you sure you want to delete @lesson.LessonNo');">delete</a>

                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</main>



