@using TTMS.Controllers;
@using TTMS.ViewModels;
@using static TTMS.Controllers.TimetableController;
@model IEnumerable<TimetableViewModel>
@{
    //ViewData["Title"] = "Classes";
}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Manage Timetables</h1>
        <a class="btn btn-md btn-outline-primary" href="~/Timetable/Add">add</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>

                    <th scope="col">Day</th>
                     <th scope="col">Lesson</th>

                                                            <th scope="col">Teacher</th>

                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var timetable in Model)
                {
                    <tr>
                            <td>
                                @timetable.Day
                             </td>
                            <td>
                                @timetable.Lesson
                            </td>
                            <td>
                                @timetable.Teacher
                            </td>
                            <td>
                                <a class="btn btn-sm btn-outline-secondary" href="/Timetable/Edit?id=@timetable.TimetableID">edit</a>
                            </td>
                            <td>
                                 <a class="btn btn-sm btn-outline-danger" href="/Timetable/Delete?id=@timetable.TimetableID" onclick="return confirm('Are you sure you want to delete @timetable.TimetableID');">delete</a>
                            </td>
                        </tr>

                }
            </tbody>
        </table>
    </div>
</main>


